$color-palette-primary: #567398;
$color-palette-secondary: #051523;

$color-text-primary: rgba(white, 0.9);
$color-text-secondary: rgba(white, 0.6);
$color-text-highlighted: lighten($color-palette-primary, 10%);
$color-text-mutted: rgba($color-text-secondary, 0.5);

$color-text-primary-inverse: #ffffff;
$color-text-secondary-inverse: rgba($color-text-primary-inverse, 0.7);
$color-text-mutted-inverse: rgba($color-text-primary-inverse, 0.3);

$color-bg-primary: #222A34;
$color-bg-secondary: #2B343E;
$color-bg-mutted: #FAFAFB;

$color-text-base: $color-text-secondary;

$color-ui-details: rgba(255, 255, 255, 0.1);
