$header-brand-height: 2rem;

.header {
  table-layout: fixed;

  position: fixed;
  z-index: 20;
  max-width: 100%;

  font-size: 14px;
  line-height: 0.9;
  font-weight: 900;

  @include phablet() {
    position: absolute;
    display: block;
    width: auto;
    top: 2rem;
    left: 1.5rem;
    right: 1.5rem;
  }
}

.header__logo {
  position: absolute;
  width: 100px;
  height: 100px;
  top: -25%;

  vertical-align: middle;
  color: $color-text-primary;
  text-decoration: none;
}

.header__content {
  padding: 0 1.5rem;

  @include glass();

  @include phablet() {
    border-radius: 5px;
  }
}


.header__menu {
  float: right;
}
