$header-brand-height: 2rem;

.header {
  table-layout: fixed;

  position: fixed;
  z-index: 20;
  max-width: 100%;

  font-size: 14px;
  line-height: 0.9;
  font-weight: 900;

  @include phablet() {
    position: absolute;
    display: block;
    width: auto;
    top: 2rem;
    left: 1.5rem;
    right: 1.5rem;
  }
}

.header__logo {
  display: inline-block;
  padding: 1rem 0;

  text-decoration: none;
  color: $color-text-primary;

  @include phablet() {
    font-size: 1.5em;
  }
}

.header__title {
  display: block;
}

.header__subtitle {
  font-size: 0.65em;
  opacity: 0.5;
}

.header__content {
  padding: 0 1.5rem;

  @include glass();

  @include phablet() {
    border-radius: 5px;
  }
}


.header__menu {
  float: right;
}
