.partners {
  position: relative;
}

.partners__body {
  font-size: 0.85rem;
  text-align: center;
  color: $color-text-secondary;
  padding: 0 1rem;
  opacity: 0.75;
}

.partners__logos {
  width: 240px;
  height: 706px;
  margin: 0 auto;
  position: relative;
  background: url(/images/partners.png?v=4) 0 0 no-repeat;
  background-size: cover;
}

.partners__link {
  position: absolute;
  height: 54px;
  background-color: rgba(255,0,0,0.25);

  &:nth-child(1) {
    height: 64px;
    top: 0;
    left: 4px;
    width: 65px;
  }

  &:nth-child(2) {
    width: 150px;
    top: 0;
    left: 90px;
    height: 64px;
  }

  &:nth-child(3) {
    width: 120px;
    top: 86px;
    left: 8px;
    height: 28px;
  }
}
