.partners {
  position: relative;
}

.partners__body {
  font-size: 0.85rem;
  text-align: center;
  color: $color-text-secondary;
  padding: 0 1rem;
  opacity: 0.75;
}

.partners__logos {
  width: 240px;
  height: 362px;
  margin: 0 auto;
  position: relative;
  background: url(/images/partners.png?v=5) 0 0 no-repeat;
  background-size: cover;
}

.partners__link {
  display: block;
  margin-top: 48px;

  // background-color: rgba(255,0,0,0.25);

  &:nth-child(1) {
    height: 88px;
  }

  &:nth-child(2) {
    height: 122px;
  }

  &:nth-child(3) {
    height: 58px;
  }
}
