.sidebar {
  @include tablet() {
    position: absolute;
    z-index: 1;
    right: 2rem;
    top: -200px;
    width: 30%;
    margin-top: 0;
  }
}

.sidebar__logo {
  display: block;
  width: 80%;
  margin: 0 auto 40px;
  transform: rotate(15deg);
}
