{% include keys.html %}
{% include root.html %}
{% include i18n.html %}

{% include layout/hero.html
           centered=true
           theme=page.namespace
           title=keys.hero.title
           subtitle="" %}

<div class="bg">
  <div class="container">
    <article class="article">
      <section class="article__section">
        <section class="article__body article__body--centered">
          {{ keys.hero.subtitle | markdownify }}

          <h1 class="article__title">
            {{ keys.intro.title }}
          </h1>

          {{ keys.intro.body | markdownify }}
        </section>

        <section class="article__body article__body--centered">
          {% include menus/social.html %}
        </section>
    </article>
  </div>
</div>
